.onglet{
	background-color: yellow;
	height: 8%;
	width: 100%;
	border-radius: 10px;
	text-align: center;


}
.fond{

	background-color: #edefed;
	z-index: -2;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 5000px;

}



a{
	text-decoration: none;
	color:black;
}
a:hover{
	color : red;
}

#menu1{

}
#menu2{

}
#menu3{

}
#menu4{

}
#menu5{

}

#complete{
	display:none;
	margin: 1%;
	
}
#rejoindre{
	display:none;
	margin: 1%;
	
}

#creer{
	display:none;
	margin: 1%;
	
}
#forum{
	display:none;
	margin: 1%;
	
}
#planning{
	display:none;
	margin: 1%;

}
#cadre{
	border: 0px solid #4d4d4d;
	border-radius: 10px;
	float right: 

}
#cadreP{
	border: 2px solid #4d4d4d;
	border-radius: 10px;
	width: 15%;
	float:left;
	margin-left: -16%;
}
