.details {
	display: inline-block;
	width: 45%;
}
.encadrer {
  	padding: 15px;
}
span.label {
	text-align: right;
	width:150px;
	display: inline-block;
	margin-right:15px;
	margin-bottom:20px;
	vertical-align: top;

}
div.description {
	display: inline-block;
	margin-bottom: 15px;
}
.image{
    width: 44%;
    height: 260px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    background-size: cover;
}
.message-infos, .message-infos a {
	color:grey;
}
hr {
	margin-bottom: 15px;
}
h3 {
	margin-top: 15px;
}