/* emplacement de recherche de groupe */
.recherche {
  margin-top: 25px;
}
.recherche h3 {
  float: left;
}
.recherche > .inputs {
  margin:18px;
}
.recherche > .inputs input[type=number] {
  width:50px;
}
.recherche > .inputs .decale-droite {
  margin-right: 50px;
}
.recherche .rechercher-bouton {
  float: right;
  margin-right: 100px;
}

/* proposer un club */
.form-club p {
  margin: 15px 0;
}
.form-club label {
  width:250px;
  display: inline-block;
  text-align: right;
  margin-right:15px;
  margin-top:20px;
  vertical-align: top;
}
.form-club input, .form-club select, .form-club textarea {
  margin-top:20px;
  border-radius:5px;
}
.form-club #nom {
  width:250px;
}
.form-club #adresse {
  width:250px;
}
.form-club #code_postal {
  width:50px;
}
.form-club #email {
  width:250px;
}
.form-club #site {
  width:250px;
}
.form-club select[multiple] {
  height:250px;
}
.form-club input[type=submit] {
  margin-left:400px;
  margin-bottom: 50px;
}
.form-club input[type=number] {
  width:50px;
}

#liste-clubs {
	margin-top: 15px;
}
#liste-clubs .club {
  	border: 1px solid gray;
  	width:200px;
  	display: inline-block;
  	margin:10px;
    border-radius: 8px;
    overflow: hidden;
    height:260px;
}
#liste-clubs .club a {
  text-decoration: none;
  color:#D54F58;
}
#liste-clubs .club .details {
	width:100%;
	height: 100%;
}
/* photo du club */
#liste-clubs .club .details .photo {
	width:200px;
	height:120px;
	overflow: hidden;
	background-position: 0 center;
  background-size: cover;
}
/* titre du club */
#liste-clubs .club .details h4 {
  color: black;
  text-align: center;
  height: 52px;
  margin-top: 15px;
  max-width: 200px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 7px;
}
/* détails du club */
#liste-clubs .club .details p {
  line-height: 29px;
  margin-left: 20px;
  margin-bottom: 15px;
}
#liste-clubs .club .details i.fa {
  margin-right: 6px;
}