.bordure{
	border:2px solid #4d4d4d;
	width: 19%;
	height: 25vh;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	vertical-align: top;
	background-color: white;

}

.recherche{
	border:2px solid #4d4d4d;
	text-align: center;
	border-radius: 10px;
}

.title{
	text-align: center;
	font-size: 30px;

}

a{
	text-decoration: none;
	color : black;

}
