body{
  background:url(../../static/images/motif.jpg);
 background-repeat: repeat;
}

.connexion {
	border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
	padding: 10px 0px 40px 0px;
	background: rgba(255, 255, 255, 0.7);
  color:#0c8190;
  width: 50%;
  margin: auto;
}
.titre
{
  text-align: center;
}
.texte{
  text-align: center;
  margin: 20px 0;
}
.texte a {
  text-decoration: none;
  color:#0c8190;
  font-weight: bold;
}
.valider {
    padding:5px 15px; 
    background:rgba(237, 237, 237,1); 
    border:0 none;
    cursor:pointer;
    border-radius: 3px;
    margin-bottom: 25px;
    display: block;
    margin: auto;
    margin-top: 2em;
}

 .connexion-cadre {
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0 50px 30px 50px;
  padding-bottom: 28px;
}

 label {
  width: 150px;
  display: inline-block;
  text-align: right;
  margin: 5px 20px 5px 0;
}

.connexion-fb {
      
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    padding: 10px 12px 7px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;

}

.connexion .connexion-fb > span.fa {
  position: relative;
  width: 32px;
  font-size: 1.6em;
  border-right: 1px solid rgba(0,0,0,0.2);
}
