body{

	background-color: #edefed;
	z-index: -1;
}

#cover
{
	 width: 100%;
  height:100%;
  display : block;
  /*background-image: url(static/images/image_accueil.jpg);*/
  background: url(../../static/images/fond.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top:0;
  left:0;
  z-index: -1;
  position: absolute;
}

.Titre
{
	text-align: center;
	margin-top: 1em;
}

.Formulaire
{
	margin-top: 1em;
}

#tailleMessage{
	width:50%;
	height: 30vh;
	resize: none;
}

#captcha{
	margin-left: 32.5%;

}