p{
  text-align: center; 
}
h2
{
  text-align: center;
}
label{
  display: block;
  width: 100px;
  float: left;
}

.label1{
  margin-top: 10%;
}
.Formulaire
{
	margin-top:2em;
}
.blocGauche
{
 display: inline-block;
 margin-left: 15%;
 vertical-align: top;
 width: 30%;
}
.blocDroite{
  display: inline-block;
  margin-left: 10%;
  vertical-align: top;
  width: 32%;
  text-align: center;
}

#tailleMessage{
	width:100%;
	height: 17vh;
	resize: none;
}

#captcha{
 display: block;
 margin-top: 2vh;
 margin-left: 36%;

}
.envoyer{
  display: block;
  margin: auto;
  margin-top: 2vh;
}

.box{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
  margin-top: 5vh;
  padding: 10px 0px 40px 0px;
  background: rgba(255, 255, 255, 0.5);
  color:#0c8190;
  opacity:0.95;
  height:52vh;
  overflow-y:scroll; 
}