
.ajouter-sujet {
	float: right;
	margin-top: -15px;
}
.forum{
	margin-top: 60px;
	background-color: white;
}
h3 a, td a, h1 a {
	color:black;
}
h1 a {
 text-decoration: none;
}
table {
	width: 100%;
    border-collapse: collapse;
    margin: 0px;
}
th {
	background-color: #0c8190;
    color: white;
    padding:12px;
}
td {
    padding: 9px;
    border: 1px solid black;
}

.encadrer {
	padding:15px;
}
.message-infos {
	color:grey;
}
 