.groupe .photo {
	width:200px;
	height:200px;
	float: right;
	background-size: 200px;
	background-position: center center;
}

.encadrer {
	padding:15px;
	border:1px solid black;
	margin-left:15px;
}

.groupe .details {
	margin-left:40px;
	display: inline-block;
	width: 65%
}

.groupe .details .specifications span {
	margin-left:15px;
}

.groupe .details p.description {
    margin: 15px;
    border: 1px solid black;
    padding: 18px;
    width: 100%;
    text-align: justify;
}

.groupe .encadrer h4 {
	margin: 0px 10px 15px;
}

.groupe .dates {
	margin-top: 15px;
}

.groupe .encadrer {
	margin-top: -1px;
}