form.recherche-groupe {
  	border: 1px solid gray;
  	padding: 0 30px 17px;
}

form.recherche-groupe div {
	display: inline-block;
}

#liste-groupes {
	margin-top: 15px;
}

#liste-groupes .groupe {
  	border: 1px solid gray;
  	width:200px;
  	display: inline-block;
  	margin:10px;
    border-radius: 8px;
    overflow: hidden;
}
#liste-groupes .groupe a {
  text-decoration: none;
  color:#D54F58;
}
#liste-groupes .groupe .details {
	width:100%;
	height: 100%;
}

#liste-groupes .groupe .details .photo {
	width:200px;
	height:120px;
	overflow: hidden;
	background-position: 0 center;
    background-size: 200px auto;
}

#liste-groupes .groupe .details h4 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

#liste-groupes .groupe .details p {
  line-height: 29px;
  margin-left: 20px;
}