.groupe .photo {
	width:300px;
	height:300px;
	float: right;
	background-size: cover;
	background-position: center center;
  margin: 37px 54px 0 0;
  border: 1px #888888;
  padding: 2px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.encadrer {
  padding: 15px;
}

.groupe .details {
	margin-left:40px;
	display: inline-block;
	width: 700px;
  float:left;
}

.groupe .details a.lien-titre {
  text-decoration: none;
  color:#19BEC0;
}

.groupe .details .specifications span {
  margin-left:15px;
  width:46%;
  display: inline-block;
}
.groupe .details .specifications span i {
  margin-right:10px;
}
.groupe .details p.description {
  margin: 15px;
  border: 1px #888888;
  padding: 18px;
  width: 100%;
  text-align: justify;
}

/* cadre des participants à droite */
.groupe .participants {
  float: right;
  width: 300px;
  margin: 0 54px 0 0;
}
.groupe .participants .participant {
  width: 50px;
  display: inline-block;
  height: 50px;
  background-size: cover;
  margin-left: 5px;
  border: 1px #888888;
}

/* Formulaire ajout/ modification groupe */
.form-groupe label {
  width:200px;
  display: inline-block;
  text-align: right;
  margin-right:15px;
  margin-top:20px;
  vertical-align: top;
}
.form-groupe input, .form-groupe select, .form-groupe textarea {
  margin-top:20px;
  border-radius:5px;
}
.form-groupe #nom {
  width:250px;
}
.form-groupe input[type=submit] {
  margin-left:600px;
}
.form-groupe input[type=number] {
  width:50px;
}

/* Dates */
.dates .date {
  display: inline-block;
  text-align: center;
  width:50px;
  border-right: 1px #888888;
  padding: 10px;
  height:100%;
  padding:9px;
}
.dates .date .jour {
  font-size:13px;
}
.dates .date .numero {
  font-weight: bold;
}
.dates .date .mois {
  font-size:13px;
}
.dates .details-date {
  display: inline-block;
  padding:15px;
  vertical-align: top;
  line-height: 22px;
  font-size: 14px;
  width: 74%;
}
.dates .participer {
  float: right;
  border-left: 1px #888888;
  padding: 22px 21px;
  font-size: 30px;
}
.dates .participer.vert {
  color: green;
}
.encadrer.coordonnees {
  height:200px;
}
.loader-participation {
  width: 29px;
  margin-top: -1px;
  margin-right: 1px;
}
.dates .details-date a.supprimer-date {
  color:#D54F58;
}
.profil {
  text-decoration: none;
}