.profil.gauche {
  width:199px;
  float: left;
  text-align: center;
  padding-top: 15px;
  border-right:1px solid gray;
}
.profil.gauche img.photo {
  border: 2px solid black;
  border-radius: 6px;
  height: 165px;
  padding: 2px;
  width: 165px;
}
.profil.gauche img.photo {
  border: 2px solid black;
  border-radius: 6px;
  height: 165px;
  padding: 2px;
  width: 165px;
}
.profil.gauche img.photo.chargement-avatar {
  padding: 79px 63px;
  width: auto;
  height: auto;
}
.profil.gauche a.modifier-photo {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1px 0 4px 4px;
  color: white;
  height: 28px;
  margin-left: -172px;
  margin-top: 132px;
  padding-top: 11px;
  position: absolute;
  text-decoration: none;
  width: 172px;
  font-size: 14px;
}
.profil.droite {
  width:670px;
  float: right;
  padding:15px;
}
.navigation {
  line-height: 41px;
  margin-left: -40px;
  text-align: center;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  background-color: #d54f58;
  border-radius: 4px;
  color: white;
  display: inline-block;
  margin-top: 9px;
  text-decoration: none;
  width: 172px;
}

form.formulaire-profil div {
  margin-bottom: 10px;
}
form.formulaire-profil div label {
  display: inline-block;
  padding-right: 15px;
  text-align: right;
  width: 214px;
}
form.formulaire-profil div input[type=text], form.formulaire-profil div input[type=password] {
  width: 250px;
  border-radius:5px;
  border:1px solid gray;
  padding:7px;
}

.mois-precedent, .mois-suivant, .mois-zero {
  text-decoration: none;
  color:black;
}
.titre-mois {
    width: 170px;
    display: inline-block;
}

.planning {
  border-collapse: collapse;
}
.planning td {
    padding: 34px;
    font-size: 25px;
    border: 1px solid black;
}
.planning td.sans-bordure {
    border: 0;
}

footer
{
  bottom : initial;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}