* {
  font-family: 'Titillium Web', sans-serif;
	margin:0;
	padding: 0;
}
body{
  background:url(../../static/images/motif.jpg);
  background-repeat: repeat;
  min-height:100%;
}

/* Classes générales */
.align-right {
  text-align: right;
}
.align-left {
  text-align: right;
}
.align-center {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: right;
}
input[type=submit] {
  border-radius: 6px;
  padding: 3px 15px;
}
input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], textarea {
  border-radius: 6px;
  padding: 3px 6px;
  border:1px solid grey;
}
select {
  padding: 3px 6px;
}
.lien-simple {
  color: black;
}
.clear{
	clear: both;
}
h1 a {
 text-decoration: none;
 color:black;
}
.ecarts-y {
  margin:20px 0;
}

/* Toutes les pages boxées */
.page {
  width:1125px;
  margin: 20px auto;
  min-height:calc(100vh - 202px);
}


/* Header sur toutes les pages */
header {
  height:7em;
  background-color: white;
}
header #logo {
  background-repeat: no-repeat;
  margin-left: 1.8em;
  margin-top: 1.3em;
  width: 15em;
}
header nav {
  float: right;
}
header nav ul {
  list-style: outside none none;
  margin-top: 38px;
  min-height: 100%;
  font-size: 1.3em;
  font-weight: bold;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  color: #0c8190;
  padding-right: 2em;
  text-decoration: none;
}
header nav ul li a.colore {
  background-color: tomato;
}
header .avatar-menu {
  display: inline-block;
  width: 27px;
  margin: -16px 50px -22px -3px;
  height: 67px;
  background-image: url('static/user/avatars/0.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

/* footer */
footer {
  height: 50px;
  clear: both;
  text-align: center;
  background-color :  rgba(0, 0, 0, 0.6);
  line-height: 50px;
  margin-bottom: 0;
  color:white;
}
footer a {
  text-decoration: none;
  color:white;
}

/* messages */
div.message {
  padding: 14px;
  background: #333;
  border:1px solid #000;
  border-radius:7px;
  margin-bottom: 15px;
}
div.message.erreur {
  background: #F78181;
  border-color: #B40404;
  color:#B40404;
}
div.message.succes {
  background: #BEF781;
  border-color: #31B404;
  color:#31B404;
}
div.message.succes a {
  color:#31B404;
}

/* encadrés */
.encadrer > h4 {
  margin: 0px 10px 15px;
}
.encadrer {
  margin-top:10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}
.liste-encadrer {
  margin: 15px 0 20px 0;
}
.liste-encadrer > .encadrer {
  margin-top: 0;
  border-radius: 0px;
  border-top: 0px;
  border-bottom-width: 1px;
}
.liste-encadrer > .encadrer:last-child {
  border-bottom-right-radius: 5px!important;
  border-bottom-left-radius: 5px!important;
  border-top-right-radius: 0px!important;
  border-top-left-radius: 0px!important;
  border-top: 0px;
  border-bottom-width: 1px!important;
}
.liste-encadrer > .encadrer:first-child {
  border-top-right-radius: 5px!important;
  border-top-left-radius: 5px!important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid black;
}

/* boutons */
.bouton {
  padding:6px 12px;
  border:1px solid black;
  border-radius:7px;
  text-decoration: none;
  color: white;
}
.bouton.b-principal {
  border-color:#19BEC0;
  background-color: #0067C0;
}
.bouton.b-danger {
  border-color:red;
  background-color: #D54F58;
}

/* pagination */
.pagination {
  float:right;
  margin-bottom: 20px;
}
.pagination a {
  padding: 4px;
  color: white;
  background-color: #5E5E5E;
}
.pagination span {
  padding: 4px;
  color: #5E5E5E;
  background-color: white;
}

.installation {
  width: 700px;
  margin: auto;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
}

.installation h1 {
  margin-bottom:20px;
}

.installation form {
  margin-left:50px;
}

.installation ul {
  margin-left:50px;
}

.installation p {
  margin-bottom:20px;
}

.installation form label {
  width:250px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: right;
}