html, body {
	font-family: Helvetica, serif;
	margin:0;
	padding: 0;

}
.align-right {
  text-align: right;
}
.align-left {
  text-align: right;
}
input[type=submit] {
  border-radius: 6px;
  padding: 3px 15px;
}
.clear{
	clear: both;
}
header {

  height:85px;
  background-color: #113F59;

}
header #logo {
  background-repeat: no-repeat;
  background-size: 77px auto;
  float: left;
  height: 65px;
  width: 45px;
}
header nav {
  float: right;
}
header nav ul {
  list-style: outside none none;
  margin-right: 70px;
  margin-top: 22px;
}
header nav ul li {
  display: inline;
  margin-left: -15px;
}
header nav ul li a {
  color: white;
  padding: 9px 15px;
  text-decoration: none;
  text-shadow: 0px 0px 4px black;
}
header nav ul li a.colore {
  background-color: tomato;
}
.page {
  width:60%;
  min-width: 860px;
  padding:10px;
  margin: auto;
}
footer {
  height: 50px;
  /*background-color: blue;*/
}
